:root {
  --text-color: #665a48;
  --secondary-color: #f9ebc8;
}
.navbar {
  padding-left: 130px;
}
.top,
.background {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #f9ebc8 50%);
}
.top {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}
h1,
h2,
h3,
p {
  color: var(--text-color);
  line-height: 2;
}
h1 {
  font-size: 66px;
}
h2 {
  font-size: 38px;
}
p {
  font-size: 18px;
}
.btn {
  padding: 10px 20px;
  margin: 30px 10px;
  background-color: var(--text-color);
}

.btn-primary {
  border: none;
}
.btn-primary:hover {
  background-color: var(--text-color);
}
.btn-outline-dark {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--text-color);
}
.btn-outline-dark:hover {
  background-color: transparent;
  color: var(--text-color);
}
.about-section h1 {
  font-size: 55px;
}
.about-section h2 {
  font-size: 25px;
}
.about-section img {
  border-radius: 20px;
}
.about-section a,
.contact-box a {
  padding: 15px 30px;
  font-size: 18px;
}
.contact-box {
  background-color: var(--secondary-color);
  margin-top: 150px;
  border-radius: 20px;
}
.contact-box {
  padding: 20px 100px;
}
.contact-box h2 {
  font-size: 50px;
  line-height: 1;
}
footer a {
  font-size: 20px;
}
.social-links a {
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--text-color);
}
.end a {
  font-size: 18px;
}
.content{
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 1000px) {
  h2,
  p {
    text-align: center;
  }
  .btn {
    display: block;
  }
  .navbar {
    padding: 10px;
  }
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 28px;
  }
  .about-section p,
  h1,
  h2 {
    text-align: center;
  }
  .about-section h1 {
    font-size: 50px;
  }
  .contact-box h2 {
    font-size: 30px;
  }
}
a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 30px;
}
a:hover {
  color: #f9ebc8;
}

nav li {
  display: inline;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-size: 17px;
}
nav ul {
  line-height: 1.5;
}
nav li.active {
  color: var(--secondary-color);
}
